{% extends 'registration/base.html' %}

{% load static from staticfiles %}

{% block css %}
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/loginForm.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block title %}Register{% endblock %}

{% block content %}

{% if form.errors %}
						<h6 class="text-danger">
							Your username/password didn't match.
							Please try again.
						</h6>
					{% else %}
						<h6>
							<br><br>
						</h6>
					{% endif %}
					<!-- Register Form -->

<div class="col-md-5 col-md-5 col-sm-5 col-xs-12 col-xs-offset-4 right-background">

<form class="form-container" action="{% url 'registerPost' %}" method="POST">
<div class="form-title"><h2>Register</h2></div>
<div class="form-title">username</div>
<input class="form-field" type="text" name="username" /><br />
<div class="form-title">password</div>
<input class="form-field" type="password" name="password" /><br />
<div class="form-title">confirm password</div>
<input class="form-field" type="password" name="confirm_password" /><br />
<div class="form-title">Email</div>
<input class="form-field" type="text" name="email" /><br />
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}" />
<div class="submit-container">
<input class="submit-button" type="submit" value="Register" />
</div>
</form>
</div>					

					<br><br><br>
					

{% endblock %}
