<!DOCTYPE html>
<html>
<head>
{% load static from staticfiles %}



<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<style> 
.container { border:2px solid #ccc; width:40vw; height: 24vh; overflow-y: scroll; }
.container2 {width:13.5vw; height: 26vh; }
.buttonContainer {width: 10vw; height: 3vh;}
.formButtonfront {
  width: 12.5vw;
  height: 3vh // only for IE8
  max-width: 20vw;
 }
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.4); /* IE */
  -moz-transform: scale(1.4); /* FF */
  -webkit-transform: scale(1.4); /* Safari and Chrome */
  -o-transform: scale(1.4); /* Opera */
  padding: 1px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.pointerChange {
  cursor: pointer;
}

img {
	max-width:100%;
max-height:100%;
}


#two {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DADADA;
    color: #333333;
    overflow:hidden;
    left: 10vw;
    line-height: 10px;
    position: absolute;
    top: 30px;
}
a {
    text-decoration: none !important;
}
</style>

</head>
<body style="overflow-x: hidden;overflow-y: hidden">

<div class="row" style="height: 5vh; background-color: black; font-size:1.6vw; color:#1E90FF">
	<div class="col-xs-6 text-center"> Trade Link is:  &nbsp &nbsp www.csgomm.store/trade_page/{{randomString}} </div>
	<div class="col-xs-3 col-xs-offset-3" align="right"><a href="/dashboard/" style="color: yellow">[Homepage]</a></div>
</div>


<div class="row" style="height: 94vh; background-color: green color:#1E90FF">

<div class="row" style="height: 5vh;font-size:1.6vw">
  <div class="col-xs-3 text-center" style="height: 5vh; background-color: #81715E; color: yellow; border-style: solid; border-width: 2px; border-color: black;"> Person submitting skins </div>
  <div class="col-xs-9 text-center" style="height: 5vh;background-color: #DDDEDE; color: #4B0082; border-style: solid; border-width: 2px; border-color: black;" > Person submitting money</div>
</div>
	<div class="row" style="height: 79vh; background-color: blue; color:#1E90FF">
		<div class="col-xs-3" style="height: 100%; background-color: #FFB74C; border-style: solid; border-width: 2px; border-color: black;">

		<div class="text-center" id="postResponse" style="margin-top: 30vh;color:blue; font-size: 1.5vw"> checking/waiting for other user...
    <img src="https://media.giphy.com/media/3ohryqcmoMYEeBZsEU/giphy.gif">
    </div>
	

			

			<input type="hidden" name="steamid" id="steamid" value="{{steamid}}">
      <input type="hidden" name="randomString" id="randomString" value="{{randomString}}">

		</div>
		<div class="col-xs-9" style="height: 100%; 	background-color: 	#488a99; border-style: solid; border-width: 2px; border-color: black;">

	<div class="container2 text-center" style="margin-left: 31vw; margin-top: 2vh">	<img src = "{{profile_image_url_large}}"> </div>
						<div class="text-center" style=" font-size:1.6vw; color:yellow"> {{username}} </div>	
	<br> <br> <div id ="tempDiv" style="color:white" class="text-center">Money option will be available when the other user submits the skins </div>
	<br> 
  <div style="display: none; color:white" id="paytmOption" class="text-center"> 

  Send Paytm <a style="color:white" id="amountToSend"> </a> to this number: <a style="color:white" id="mobileNumberToSend"> </a> <br>

  After you have sent the paytm click on this button: <button class="btn btn-success" id = "sentMoney"> I have sent the paytm </button>

  </div>	

		</div>
	</div>
<div class="row text-center" style="height:3vh; background-color: black; font-size:1vw; color:white">
  <a style="color: red;font-weight: bold">Note: After the skins/keys deposit, the trade should happen within 20 mins and if it is not completed under that time then the items will be sent back</a>
  </div>

	<div class="row text-center" style="height: 8vh; background-color: green; font-size:3vw; color:white">
	Status: <a style="color: white" id="full_status">checking</a> <img src="https://media.giphy.com/media/xUOrwrCJIJPHZ0IpdS/giphy.gif"/>
	</div>


<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div> <button class="btn btn-success" id = "accept"> Yes this is correct </button> &nbsp &nbsp &nbsp<button class="btn btn-danger" id="reject"> No I dont want these </button> </div>
    <div id="modalText">Some text in the Modal..</div>
    
  </div>

</div>




<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script>
	
	// SOCKET SENDING
	$(document).ready(function(){
    var modal = document.getElementById('myModal');
    


  function parseInspectLink(clicked_id){
  var buttonValue = document.getElementById(clicked_id+"").value; //stores the button value
  form = {
            'linkToParse': buttonValue
        }
  //process json parsing and store in response

        $.post("{{domain}}/parseJson/", form, function(result){
            document.getElementById("myDiv"+clicked_id).innerHTML = response; 
        });

    
}  
   
	$('#accept').click(function(){

          form = {
            'randomString': $('#randomString').val()
              }

              $.post("{{domain}}/acceptTradedSkins/", form, function(result){
                if(result!=="error invalid user"){

                  var array_mobilNumber_Plus_money = result.split(';')

                  $("#amountToSend").text(array_mobilNumber_Plus_money[1]);
                  $("#mobileNumberToSend").text(array_mobilNumber_Plus_money[0]);
                  $('#myModal').hide();
                  $('#tempDiv').hide();
                  $('#paytmOption').show();
                }

                });

      			
    		});


  $('#sentMoney').click(function(){
          
          form = {
                'randomString': $('#randomString').val()
            }

          $.post("{{domain}}/sentMoney/", form, function(result){
                  if(result=="success"){
    
                    $('#sentMoney').hide();
                  }
              });

        });



	$('#reject').click(function(){
      		$('#myModal').hide();
	    });

    var refreshIntervalId = setInterval(function () {
        form = {
            'randomString': $('#randomString').val()
        }
             $.post("{{domain}}/isUser1connected/", form, function(result){
                  
                  if(result!="error"){
                    $("#postResponse").html(result);
                    
                    clearInterval(refreshIntervalId);
                  }
              });


      },3000);


    var refreshIntervalId2 = setInterval(function () {
        form = {
            'randomString': $('#randomString').val()
        }
             $.post("{{domain}}/tradeStatus/", form, function(result){
                    if(result=="Skins submitted waiting for money"){
                      //getting skins submitted names
                      skinsNames ="";
                      skinsImages = "";
                      amount = "";
                      inspectLinks = "";
                      $.post("{{domain}}/getSkinsNames/", form, function(result){
                        skinsNames = result;

                        $.post("{{domain}}/getSkinsUrls/", form, function(result2){
                        skinsImages = result2;

                          $.post("{{domain}}/getAmount/", form, function(result3){


                              amount = result3;
                          
                              $.post("{{domain}}/getInspectLinks/", form, function(result4){
                                        inspectLinks = result4;
                              

                                      skinsNamesArray = skinsNames.split(';');
                                      skinsImagesArray = skinsImages.split(';');
                                      inspectLinksArray = inspectLinks.split('&&&');
                                      // console.log(skinsNamesArray);
                                      // console.log(skinsImagesArray);

                                      var numKeys = skinsNamesArray.reduce(function(n, val) {
                                                                                    return n + (val.includes("key"));
                                                                                }, 0);
                                      var numSkins = skinsNamesArray.length - numKeys;

                                      modalTextHtmlString = 
                                      '<br><div style="color: red; font-weight:bold"> expected money ='+ Math.round(Number(amount)) +' </div> <br> <div style="font-size:3vw" class="text-center"> Submitted Items </div> <br> <div style="font-size:2vw">keys ='+numKeys+ ', skins/items ='+numSkins+'</div><br><ul>';
                                    
                                    for(i=0;i<skinsNamesArray.length;i++){
                                      modalTextHtmlString += '<li>' + skinsNamesArray[i] + '<img style="width: 7vw;height: 10vh" src="'+skinsImagesArray[i]+'">'+  '&nbsp &nbsp <a href="'+inspectLinksArray[i]+'">Inspect Link</a>'+ '<div id="myDivinspect'+i+'"> <button id="inspect'+i+'" value="'+inspectLinksArray[i]+'" onClick="parseInspectLink(this.id)">Get float</button> </div>' +'</li>'
                                    }
                                    
                                    modalTextHtmlString += "</ul>";
                                    $('#modalText').html(modalTextHtmlString);
                                    modal.style.display = "block";
                                    //open a popup here notifying user about the skins submitted
                                    clearInterval(refreshIntervalId2);
                                    Replay();

                                });

                        

                            });
                        });

                      

                        });
                      //getting skins submitted images
                      

                    
                      
                      
                    }

                    else{

                      if(result=="user accepted submitted skins, waiting for his money sending"){

                        form = {
                            'randomString': $('#randomString').val()
                            }

                            $.post("{{domain}}/acceptTradedSkins/", form, function(result){
                              if(result!=="error invalid user"){

                                var array_mobilNumber_Plus_money = result.split(';')

                                $("#amountToSend").text(array_mobilNumber_Plus_money[1]);
                                $("#mobileNumberToSend").text(array_mobilNumber_Plus_money[0]);
                                $('#paytmOption').show();

                                clearInterval(refreshIntervalId2);
                                Replay();
                              }

                              });


                      }



                      else if(result=="Trade Expired please create new"){
                      $("#full_status").text(result);
                      clearInterval(refreshIntervalId2);
                    }
                      else{
                            $("#full_status").text(result);
                          }
                    }
                  
              });


      },3000);




    function Replay() {
      var refreshIntervalId3 = setInterval(function () {
        form = {
            'randomString': $('#randomString').val()
        }
             $.post("{{domain}}/tradeStatus/", form, function(result){
                    if(result=="Trade Expired please create new"){
                      $("#full_status").text(result);
                      clearInterval(refreshIntervalId3);
                    }
                      else{
                    $("#full_status").text(result);}
                  
              });


      },3000);
    }


    });




</script>
</body>
</html>
