<!DOCTYPE html>
<html>
<head>
{% load static from staticfiles %}



<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<style> 
.container { border:2px solid #ccc; width:40vw; height: 24vh; overflow-y: scroll; }
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(1.4); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}
</style>

</head>
<body style="overflow-x: hidden">

<div class="row" style="height: 5vh; background-color: black; font-size:160%; color:#1E90FF">
	<div class="col-sm-6"> Trade Link is:  &nbsp &nbsp www.csgomiddleman.com/{{randomString}} </div>
	<div class="col-sm-3 col-sm-offset-3"> (Share it with friend)</div>
</div>
<div class="row" style="height: 5vh;font-size:160%">
	<div class="col-sm-6 text-center" style="background-color: 	#A9A9A9; color: yellow"> Person submitting skins </div>
	<div class="col-sm-6 text-center" style="color: #4B0082" > Person submitting money</div>
</div>

<div class="row" style="height: 87vh; background-color: green color:#1E90FF">
	<div class="row" style="height: 77vh; background-color: blue; color:#1E90FF">
		<div class="col-sm-6" style="height: 100%; background-color: yellow;">

		<img src = "{{profile_image_url_large}}" style="margin-left: 18vw">
						<div class="text-center" style=" font-size:160%"> {{username}} </div>
		<button id="submit_skin_enable_button" class="btn btn-primary" style="margin-left: 19vw; margin-top: 2vh">Click to Submit skins</button>


			<form id="inventorylist" action="" class="container" style="margin-top: 2vh; display: none;">
			{% for item in tupleList %}
			    <input type="checkbox" id="{{item.1}}"/> {{item.0}} <br />
			   {% endfor %}
			    <input type="submit" value="Submit" style="margin-left: 15vw">
			</form>






		</div>
		<div class="col-sm-6" style="height: 100%; 	background-color: 	#4B0082;">

		
		<div class="text-center" style="margin-top: 30vh; font-size: 130%"> waiting for other user... </div>

		</div>
	</div>

	<div class="row text-center" style="height: 10vh; background-color: green; font-size:300%; color:white">
	Status: Waiting for submission from both.
	</div>



</div>
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script>
	$(function(){
		$('#submit_skin_enable_button').click(function(){
			$('#inventorylist').show();
		})
	});
</script>
</body>
</html>