<DOCTYPE html>
<html>
<head>
{% load static from staticfiles %}



<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<style> 

.container { border:2px solid #000000 ; width:43vw; height: 76vh; overflow-y: scroll; background-color: white }
.container2 {width:13.5vw; height: 26vh; }
.buttonContainer {width: 10vw; height: 3vh;}
.buttonContainer3 {width: 7vw; height: 4vh;}
.imageContainer {width: 10vw; height: 10vh;}
.formButtonfront {
  width: 12.5vw;
  height: 3vh // only for IE8
  max-width: 20vw;
 }
 .formButtonfront2 {
  width: 7.5vw;
  height: 3vh // only for IE8
  max-width: 20vw;
 }
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.4); /* IE */
  -moz-transform: scale(1.4); /* FF */
  -webkit-transform: scale(1.4); /* Safari and Chrome */
  -o-transform: scale(1.4); /* Opera */
  padding: 1px;
}

.popupBox {
	height: 20vh;
	width: 15vw;
    visibility:hidden;
    opacity:0;        
    transition:visibility 0s linear 0.3s,opacity 0.3s linear;
    transition: all 0.4s ease;
    transition-delay:  0.1s;

}
a {
    text-decoration: none !important;
}
label {
    color: green;
}
.popupHoverElement:hover > .popupBox {
    visibility:visible;
    opacity:1;
    transition: all 0.3s ease;
    transition-delay:  0s;        
}       

.pointerChange {
  cursor: pointer;
}

img {
	max-width:100%;
max-height:100%;
}


#two {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DADADA;
    color: #333333;
    overflow:hidden;
    left: 10vw;
    line-height: 10px;
    position: absolute;
    top: 30px;
}

</style>

</head>
<body style="overflow-x: hidden; overflow-y: hidden">

<div class="row" style="height: 5vh; background-color: black; font-size:1.6vw; color:#1E90FF">
	<div class="col-xs-6 text-center"> Trade Link is:  &nbsp &nbsp www.csgomm.store/trade_page/{{randomString}} </div>
	<div class="col-xs-3 col-xs-offset-3" align="right"><a href="/dashboard" style="color: yellow"> [Homepage] </a></div>
</div>


<div class="row" style="height: 94vh; background-color: green color:#1E90FF">
<div class="row" style="height: 5vh;font-size:1.6vw">
  <div class="col-xs-9 text-center" style="height: 5vh; background-color: #81715E; color: yellow; border-style: solid; border-width: 2px; border-color: black;"> Person submitting skins </div>
  <div class="col-xs-3 text-center" style="height: 5vh;background-color: #DDDEDE; color: #4B0082; border-style: solid; border-width: 2px; border-color: black;" > Person submitting money</div>
</div>
	<div class="row" style="height: 79vh; background-color: blue; color:#1E90FF">
		<div class="col-xs-9" style="height: 100%; background-color: #FFB74C; border-style: solid; border-width: 2px; border-color: black;">

    <div class="col-xs-5">

	<div class="container2 text-center" style="margin-left: 8.5vw; margin-top: 1vh">	<img src = "{{profile_image_url_large}}"> </div>
						<div class="text-center" style="margin-left: 1vw; font-size:1.6vw; color: #34215F; "> {{username}} </div>
		<button id="submit_skin_enable_button" class="btn btn-primary formButtonfront" style="margin-left: 9vw; margin-top: 2vh"><div style="font-size: 1vw"> show/hide skins list</div> </button> <br> <br>

      <a style="font-weight: bold; color:blue; font-size: 1vw; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">Paytm Mobile Number: +91</a>  <input type="text" size="10vw" style="color:black" id="mobileNumber"> <br> <br>
      <a style="font-weight: bold; color:blue; font-size: 1vw; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">Expected amount: </a> <input type="text" size="6vw"  style="margin-left: 5.15vw; color: black" id="expectedAmount"> <br> <br>

      <button id="saveDetails" class="btn btn-primary formButtonfront2" style="margin-left: 13.5vw"> <div style="font-size: 1vw;"> save details </div></button>
      <input type="hidden" name="steamid" id="steamid" value="{{steamid}}">
      <input type="hidden" name="tradeUrl" id="tradeUrl" value="{{tradeUrl}}">
      <input type="hidden" name="randomString" id="randomString" value="{{randomString}}">

      <div style="margin-left: 1vw; margin-top: 6vh; font-size: 1.6vw; color: red; font-weight: bold"> Trade Status: <a id="status"> None sent </a> <img id="image" src="#" style="display: none;" />  </div>

      </div>

      <div class="col-xs-7">

			<div id="inventorylist" action="" class="container" style=" display: none; margin-top: 1vh">
     <button class="buttonContainer3" onClick="selectAll()"> <div style="font-size: 1vw"> select all </div> </button> <button class="buttonContainer3" onclick="unselectAll()"><div style="font-size: 1vw"> Unselect all </div> </button>
     <a style="font-size: 1vw; color:black">(Scroll down to deposit)</a>
    <br>
			{% for item in tupleList %}
			   <label> <input type="checkbox" name="foo" value="{{item.1}}"/>
<div style="display:inline-block; font-size: 1vw" class="pointerChange" id="skins_names{{item.1}}">{{item.0}}</div>
   <div class="imageContainer pointerChange"> <img  id="skins_image{{item.1}}" src="http://community.edgecast.steamstatic.com/economy/image/{{item.2}}" /> </div>

</label> &nbsp
			   {% endfor %}
			    <button class="btn btn-primary" id="depositButton" style="margin-left: 16vw"> Deposit selected skins </button>
			</div>
      </div>

    </div>
    <div class="col-xs-3" style="height: 100%;  background-color:   #488a99; border-style: solid; border-width: 2px; border-color: black;">

    <div class="row" style="height: 50%">
    <div class="text-center" id="postResponse" style="margin-top: 10vh;color: yellow; font-size: 1.5vw"> checking/waiting for other user...
    <img src="https://media.giphy.com/media/xUOrwl2xwnTYnKzlpS/giphy.gif">
     
    <br>
    <br>


     </div>
     </div>

     <div class="row" style="width: 90%; margin-left: 1.5vw"> 
     <a style="color:red; font-size: 1.5vw"> When you receive the money, please click on the button below: </a> <br>
    <button class="btn btn-primary" id="receivedMoney">Yes I recieved the money</button>
     </div>
		</div>
	</div>

  

	<div class="row text-center" style="height: 12vh; background-color: green; font-size:3vw; color:white">
  <div class="row text-center" style="height:3vh; background-color: black; font-size:1vw; color:white">
  <a style="color: red;font-weight: bold">Note: After the skins/keys deposit, the trade should happen within 20 mins and if it is not completed under that time then the items will be sent back</a>
  </div>
	Overall Status: <a style="color: white" id="full_status">checking</a> <img src="https://media.giphy.com/media/xUOrwrCJIJPHZ0IpdS/giphy.gif"/>
	</div>



</div>
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
	
  function selectAll() {
  checkboxes = document.getElementsByName('foo');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = true;
  }
}
function unselectAll() {
  checkboxes = document.getElementsByName('foo');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = false;
  }
}
	// SOCKET SENDING
	$(document).ready(function(){

      var socket = io.connect('{{domain}}:3000/');
      
      socket.on('connect', function(){
        console.log("connected");
      });
      
      $('#submit_skin_enable_button').click(function(){
			$('#inventorylist').toggle();
		})

      $('#receivedMoney').click(function(){
    
        form = {
            'randomString': $('#randomString').val()
        }
        $.post("{{domain}}/receivedMoney/", form, function(result){
              if(result=="success"){
                $('#receivedMoney').hide();
              }
          });

    })
		


      // var entry_el = $('#comment');
               
      socket.on('message', function(message) {
        //Escape HTML characters
        var data = message.replace(/&/g,"&amp;").replace(/</g,"&lt;").replace(/>/g,"&gt;");
        
        //Append message to the bottom of the list
        // $('#comments').append('<li>' + data + '</li>');
         // window.scrollBy(0, 10000000000);
        // entry_el.focus();
       document.getElementById('status').text = data;
       $('#image').hide();
       if(data == "trade Accepted!"){
       document.getElementById('full_status').text = "skins submitted! waiting for money";}
      });
      $('#saveDetails').click(function(){
        form = {
            'randomString': $('#randomString').val(),
            'mobileNumber':$('#mobileNumber').val(),
            'expectedAmount': $('#expectedAmount').val(),
        }
             $.post("{{domain}}/submitNumberAndMoney/", form, function(result){
                  
                  if(result!="error"){
                     alert(result);
                  
                    clearInterval(refreshIntervalId);
                  }
              });

      });

      $('#depositButton').click(function(){
			 var allVals = [];
       itemsNames = "";
       itemsImages = "";
       itemsNamesWithImages = "";
			 $('#inventorylist :checked').each(function(){
		        allVals.push($(this).val());
		    });


       for(i=0;i<allVals.length-1;i++){
        itemsNames += $('#skins_names'+allVals[i]).text() +";";
        itemsImages += $('#skins_image'+allVals[i]).attr("src") +";";
       }

       itemsNames += $('#skins_names'+allVals[allVals.length-1]).text();
       itemsImages += $('#skins_image'+allVals[allVals.length-1]).attr("src");
       itemsNamesWithImages = itemsNames +"$$$" +itemsImages + "&&&"+ $('#randomString').val();
        
       console.log("items names:" + itemsNames);
       console.log("items images:" + itemsImages);

       if(allVals.length>0) {
            var msg = $('#tradeUrl').val()+ ","+$('#randomString').val() + "," +$('#steamid').val() + "," + allVals+"";
       }
       else {
          var msg = $('#tradeUrl').val()+ "," + $('#randomString').val() + "," + $('#steamid').val();
       }

		socket.emit('send_namesAndImages', itemsNamesWithImages, function(data){
                console.log(data);
           });


		if(msg){
	
	form = {
            'randomshit': ""
        }	
	$.post("{{domain}}/checkTradeUrl/", form, function(result){
		
		if(result != "error"){
		console.log("message sent");
           socket.emit('send_skins', msg, function(data){
                console.log(data);
           });
           $('#image').attr("src","https://media.giphy.com/media/3oKIPjbXj8FIL6eG3e/giphy.gif");
       document.getElementById('status').text = 'Trade Offer sent waiting';
            $('#image').show();
		}
		else{
		document.getElementById('status').text = 'Error, update trade URL in the dashboard page';
		}	

		});
       }

		})




                     
      // entry_el.keypress(function(event){
      //   //When enter is pressed send input value to node server
      //   if(event.keyCode != 13) return;
      //   var msg = entry_el.attr('value');
      //   if(msg){
      //      socket.emit('send_message', msg, function(data){
      //           console.log(data);
      //      });
        
      //   //Clear input value   
      //   entry_el.attr('value', '');
      //  }
      // });
    var refreshIntervalId = setInterval(function () {
        console.log($('#randomString').val());
        form = {
            'randomString': $('#randomString').val()
        }
             $.post("{{domain}}/isUser2connected/", form, function(result){
                  
                  if(result!="error"){
                    $("#postResponse").html(result);
                  
                    clearInterval(refreshIntervalId);
                  }
              });


      },5000);


    var refreshIntervalId3 = setInterval(function () {
        form = {
            'randomString': $('#randomString').val()
        }
             $.post("{{domain}}/tradeStatus/", form, function(result){
                    if(result=="Trade Expired please create new"){
                      $("#full_status").text(result);
                      clearInterval(refreshIntervalId3);
                    }
                      else{
                    $("#full_status").text(result);}
                  
              });


      },7000);

    });




</script>
</body>
</html>


